@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('fonts/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url('fonts/Quicksand-Light.ttf') format('truetype');
}

body {
    font-family: Quicksand;
    font-size: 18px;
    color: #303030;
}

hr {
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1024px;
}

.header {
    text-align: center;
}

#main-header {
    font-family: Quicksand-Bold;
}

.main-header {
    font-size: 48px;
    margin-top: 45px;
    margin-bottom: 28px;
}

.main-header-content {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}

#sub-header {
    font-size: 24px;
    margin: 0;
}

.button {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

#recipe-button, .form input[type="submit"], .edit, .delete {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-family: Quicksand-Bold;
    font-size: 18px;
    line-height: 1.33;
    background-color: #ef7911;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.return-link {
    margin-left: 36px;
    font-family: Quicksand-Bold;
    font-size: 14px;
    line-height: 1.71;
    background-color: #fff;
    color: #ef7911;
    border: none;
    cursor: pointer;
}

.content {
    margin-left: 42px;
    margin-right: 42px;
}

h4 {
    font-family: Quicksand-Bold;
    line-height: 1.33;
}

#category-header {
    margin: 0;
}

#categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-buttons {
    margin-top: 20px;
    width: 136px;
    height: 40px;
    border-radius: 25px;
    border: solid 1px #d8d8d8;
    font-family: Quicksand-Bold;
    font-size: 14px;
    line-height: 1.71;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.2s;
}

.active {
    background-color: #ef7911;
    color: #fff;
}

#recipe-header {
    margin-top: 30px;
}

#recipes-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-link-div {
    width: 298px;
    height: 100px;
    text-align: center;
    font-family: Quicksand-Bold;
    line-height: 1.75;
    border: solid 1px #d8d8d8;
    padding-top: 40px;
    cursor: pointer;
}

.recipe-link {
    margin: 0;
}

.reduce-font-size {
    font-size: 14px;
}

.form {
    margin-left: 42px;
    margin-right: 42px;
}

#recipe-form {
    margin-bottom: 30px;
}

#recipe-edit-form {
    margin-top: 15px;
}

#buttons {
    margin-top: 25px;
    margin-bottom: 30px;
}

.form label {
    font-family: Quicksand-Bold;
    line-height: 1.33;
}

.form input[type="text"] {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: solid 1px #d8d8d8;
}

.form textarea {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #d8d8d8;
    resize: none;
}

#cat-dropdown {
    height: 45px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 13px 20px;
    border: solid 1px #d8d8d8;
}

#recipe-name, #recipe-eng-name, #cat-new {
    width: 258px;
}

#recipe-description {
    height: 60px;
    width: 898px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#recipe-image {
    width: 898px;
}

#recipe-ingredients, #ingredients-list {
    margin: 0;
    list-style-type: circle;
}

#recipe-ingredients textarea {
    vertical-align: middle;
    height: 25px;
    width: 829px;
    padding-top: 10px;
}

#recipe-ingredients button, #recipe-instructions button {
    font-family: Quicksand-Bold;
    font-size: 14px;
    margin-left: 5px;
    background-color: #FFF;
    color: #ef7911;
    border: dotted 1px;
    cursor: pointer;
}

#recipe-instructions, #instructions-list {
    margin: 0;
}

#recipe-instructions textarea {
    vertical-align: middle;
    height: 50px;
    width: 829px;
    padding-top: 10px;
}

#add-ingredient, #add-instruction {
    font-family: Quicksand-Bold;
    font-size: 14px;
    line-height: 1.71;
    background-color: #fff;
    color: #ef7911;
    margin-top: 20px;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
}

.edit {
    margin-right: 20px;
}

#add-ingredient:hover, #add-instruction:hover, #recipe-button:hover, .form input[type="submit"]:hover, .edit:hover, .delete:hover, .return-link:hover, #recipe-ingredients button:hover, #recipe-instructions button:hover {
    color: #303030;
}

#recipe-button:hover, .form input[type="submit"]:hover, .edit:hover, .delete:hover {
    border: solid 1px #303030;
}

.category-buttons:hover {
    background-color: #ef7911;
    color: #fff;
}

.recipe-link:hover {
    color: #ef7911;
}

.name {
    font-family: Quicksand-Bold;
    font-size: 24px;
    line-height: 1;
}

#info h4 {
    margin-top: 20px;
    margin-bottom: 8px;
}
